body {
  margin: 0 auto;
  color: #81868e;
  background-color: #f3f3f3;
  text-align: center;
}
.OrangeBg {
  background-color: #e84c3d;
  color: white;
}
.OrangeButton {
  background-color: #e84c3d;
  color: white;
}
.OrangeButton a {
  color: white;
}
.OrangeButton:focus,
.OrangeButton:hover {
  color: #e84c3d;
  background: white;
  border-color: #e84c3d;
}
.OrangeButton:focus a,
.OrangeButton:hover a {
  color: #e84c3d;
}
.Center {
  margin: 20px auto;
}
a {
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: none;
}
section h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #333b46;
}
section .gray-separator {
  background-color: #898989;
  margin: 20px 0;
  height: 2px;
  width: 45px;
}
section h5 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  color: #81868e;
  line-height: 150%;
}
section > h5 {
  padding: 0 370px 40px;
}
@media only screen and (max-width: 768px) {
  section > h5 {
    padding: 0 35px 10px;
  }
}
.container-fluid {
  padding: 0;
}
header {
  background-color: #e1e1e1;
}
header nav {
  background-color: #e1e1e1;
  padding: 20px 40px;
}
header nav .navbar-header h3 {
  font-family: 'Leckerli One', cursive;
  color: #e84c3d;
}
header nav ul li .separator {
  height: 2px;
  width: 50%;
  background-color: #e84c3d;
  margin-right: 0;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  header nav ul li .separator {
    width: 100%;
  }
}
header nav ul li:focus .separator,
header nav ul li:hover .separator {
  opacity: 1;
}
header nav ul li a {
  color: #333b46;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}
header nav ul li a:focus,
header nav ul li a:hover {
  color: #e84c3d;
  background-color: #e1e1e1;
}
header nav ul .active .separator {
  opacity: 1;
}
header article {
  padding: 250px 0;
}
header article h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #333b46;
}
header article p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
header h6 {
  font-family: 'OpenSans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #e84c3d;
  padding: 70px;
}
#about {
  background-color: #f3f3f3;
  padding: 100px 160px;
}
#about article h5 {
  padding-right: 70px;
}
#about article .btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #e84c3d;
  color: white;
  margin: 30px 0;
}
#about article .btn a {
  color: white;
}
#about article .btn:focus,
#about article .btn:hover {
  color: #e84c3d;
  background: white;
  border-color: #e84c3d;
}
#about article .btn:focus a,
#about article .btn:hover a {
  color: #e84c3d;
}
@media screen and (max-width: 768px) {
  #about {
    padding: 100px 50px;
  }
  #about article h5 {
    padding: 0;
  }
}
.what-we-do .article-box {
  padding: 0 100px;
}
.what-we-do .article-box article {
  padding: 30px 0 0 30px;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  margin: 0 0 20px 0;
}
.what-we-do .article-box article h4,
.what-we-do .article-box article h5 {
  color: #81868e;
}
.what-we-do .article-box article i {
  background-color: #e84c3d;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 30px 0;
}
.what-we-do .article-box article:focus,
.what-we-do .article-box article:hover {
  background-color: #e84c3d;
  color: white;
  border-color: #e84c3d;
}
.what-we-do .article-box article:focus i,
.what-we-do .article-box article:hover i {
  background-color: white;
  color: #e84c3d;
}
.what-we-do .article-box article:focus h4,
.what-we-do .article-box article:hover h4,
.what-we-do .article-box article:focus h5,
.what-we-do .article-box article:hover h5 {
  color: white;
}
.what-we-do .article-box article:focus .gray-separator,
.what-we-do .article-box article:hover .gray-separator {
  background-color: white;
}
@media screen and (max-width: 768px) {
  .what-we-do .article-box {
    padding: 0;
  }
  .what-we-do .article-box article h4 {
    text-align: center;
  }
  .what-we-do .article-box article .gray-separator {
    margin: 0 auto;
  }
}
.view-project {
  margin: 100px 0;
  background-image: url(../images/view_project.jpg);
  background-size: cover;
}
.view-project .overlay {
  background-color: #e84c3d;
  color: white;
  opacity: 0.9;
  padding: 100px 210px;
}
.view-project .overlay .col-md-3 {
  padding: 20px 0;
}
.view-project .overlay h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 15px 0;
}
.view-project .overlay .white-separator {
  height: 2px;
  width: 45px;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .view-project .overlay {
    padding: 100px;
  }
}
.three-steps .gray-separator {
  margin: 20px auto;
}
.three-steps article i {
  color: #e84c3d;
  background-color: #f3f3f3;
  border: 7px solid #ececec;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 25px;
}
.featured-work {
  background-color: #ececec;
  padding-top: 100px;
}
.featured-work .gray-separator {
  margin: 20px auto;
}
.featured-work figure img {
  position: relative;
}
.featured-work figure figcaption {
  position: absolute;
  top: 0;
  width: 85%;
  height: 85%;
  margin: 5% 4%;
  opacity: 0;
  background-color: #e84c3d;
  color: white;
}
.featured-work figure figcaption button {
  border-color: white;
  margin: 30% 0;
  background-color: #e84c3d;
  color: white;
}
.featured-work figure figcaption button a {
  color: white;
}
.featured-work figure figcaption:focus,
.featured-work figure figcaption:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .featured-work figure figcaption {
    opacity: 0.7;
    margin: 4% 3%;
  }
}
#services {
  padding: 100px 0;
  /** KEEP EXPLORING **/
}
#services .gray-separator {
  margin: 20px auto;
}
#services .service-article {
  background-color: #e84c3d;
  color: white;
}
#services .service-article figure {
  padding: 0;
}
#services .service-article article {
  padding: 40px 200px;
}
#services .service-article article h4,
#services .service-article article h5 {
  padding: 20px 0;
  background-color: #e84c3d;
  color: white;
}
#services .service-article article .white-separator {
  height: 2px;
  width: 45px;
  background-color: white;
}
@media screen and (max-width: 768px) {
  #services .service-article article {
    padding: 20px 20px;
  }
}
#services .keep-exploring {
  background-image: url(../images/keep_exploring.jpg);
  background-size: cover;
}
#services .keep-exploring .overlay {
  background-color: black;
  opacity: 0.8;
  padding: 100px 240px;
}
#services .keep-exploring .overlay h2,
#services .keep-exploring .overlay h4,
#services .keep-exploring .overlay a {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
}
#services .keep-exploring .overlay h4 {
  padding: 20px 0;
}
#services .keep-exploring .overlay button {
  background-color: #e84c3d;
}
#services .keep-exploring .overlay button:focus,
#services .keep-exploring .overlay button:hover {
  background-color: white;
}
#services .keep-exploring .overlay button:focus a,
#services .keep-exploring .overlay button:hover a {
  color: #e84c3d;
}
@media screen and (max-width: 768px) {
  #services .keep-exploring .overlay {
    padding: 100px 0;
  }
}
#portfolio {
  padding: 0;
}
#portfolio .gray-separator {
  margin: 20px auto;
}
#portfolio .iso-nav {
  margin: 40px;
}
#portfolio .iso-nav li {
  color: #333b46;
}
#portfolio .iso-nav li:focus,
#portfolio .iso-nav li:hover {
  cursor: pointer;
  color: #e84c3d;
}
#portfolio .grid figure {
  border: 1px solid #e84c3d;
  position: relative;
  margin: 0;
}
#portfolio .grid figure figcaption {
  position: absolute;
  top: 0;
  background-color: #e84c3d;
  opacity: 0;
}
#portfolio .grid figure figcaption:focus,
#portfolio .grid figure figcaption:hover {
  opacity: 0.7;
}
#portfolio .grid figure figcaption h4,
#portfolio .grid figure figcaption p {
  color: white;
}
#portfolio .grid:after {
  content: '';
  display: block;
  clear: both;
}
#portfolio .item {
  width: 210px;
  height: 210px;
  float: left;
}
#portfolio .item-width-2 {
  width: 420px;
}
#portfolio .item-height-2 {
  height: 420px;
}
#portfolio .subscribe {
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
}
#portfolio .subscribe .overlay {
  background-color: #e84c3d;
  color: white;
  opacity: 0.9;
  padding: 130px 170px;
}
#portfolio .subscribe .overlay .col-md-6 {
  padding: 0px 20px;
}
#portfolio .subscribe .overlay .input-group {
  margin: 30px 0;
}
#portfolio .subscribe .overlay .input-group .form-control,
#portfolio .subscribe .overlay .input-group .input-group-addon {
  background-color: #e84c3d;
  color: white;
  border-radius: 0;
  border-color: white;
}
@media screen and (max-width: 768px) {
  #portfolio .subscribe .overlay {
    padding: 30px 0;
  }
}
#portfolio .subscribe h4,
#portfolio .subscribe p {
  color: white;
}
.crew {
  padding: 100px 0;
  background-color: #ececec;
}
.crew .gray-separator {
  margin: 20px auto;
}
.crew main figure {
  position: relative;
}
.crew main figure figcaption {
  position: absolute;
  bottom: 0;
  width: 90%;
  opacity: 0;
  padding: 30px 0;
  margin: 14px;
  background-color: #e84c3d;
  color: white;
}
.crew main figure figcaption p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  .crew main figure figcaption {
    opacity: 0.8;
  }
}
.crew main figure:focus figcaption,
.crew main figure:hover figcaption {
  opacity: 0.8;
}
.testimonials .item {
  background-image: url(../images/testimonials.jpg);
  background-size: cover;
}
.testimonials figcaption {
  background-color: black;
  opacity: 0.8;
  padding: 10% 22%;
  color: white;
}
.testimonials h {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.testimonials h:last-child {
  color: #e84c3d;
  padding: 20px;
}
.testimonials h4 {
  font-family: 'OpenSans', sans-serif;
  color: white;
}
.testimonials img {
  margin: 20px;
}
.testimonials p {
  font-family: 'OpenSans', sans-serif;
  font-style: Italic;
  font-size: 16px;
}
.testimonials .white-separator {
  height: 2px;
  width: 45px;
  background-color: white;
  margin: 20px auto;
}
#blog {
  padding: 100px 0;
}
#blog .gray-separator {
  margin: 20px auto;
}
#blog figure {
  background-image: url(../images/blog.jpg);
  background-size: cover;
  padding: 0;
}
#blog figure figcaption {
  background-color: #e84c3d;
  color: white;
  float: right;
  width: 50%;
  padding: 20% 15px;
}
#blog figure figcaption h4,
#blog figure figcaption h5 {
  background-color: #e84c3d;
  color: white;
}
#blog figure figcaption .white-separator {
  height: 2px;
  width: 45px;
  background-color: white;
  margin: 20px 0;
}
#blog figure figcaption h6 {
  padding: 10px 0;
}
.pricing-table .gray-separator {
  margin: 20px auto;
}
.pricing-table ul li {
  margin: 0 30px;
}
.pricing-table ul li:first-child {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 20px 0;
}
.pricing-table ul li button {
  background-color: #e84c3d;
  color: white;
  padding: 5px 30px;
}
.pricing-table ul li button a {
  color: white;
}
.pricing-table ul li button:focus,
.pricing-table ul li button:hover {
  color: #e84c3d;
  background: white;
  border-color: #e84c3d;
}
.pricing-table ul li button:focus a,
.pricing-table ul li button:hover a {
  color: #e84c3d;
}
#contact {
  padding: 100px 0;
}
#contact .gray-separator {
  margin: 20px auto;
}
#contact ul {
  padding: 40px 0;
}
#contact ul li {
  margin: 25px 0;
  font-size: 14px;
}
#contact ul i {
  color: #e84c3d;
}
#contact form {
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  #contact form {
    padding: 0px;
  }
}
#contact .form-control,
#contact button {
  border-radius: 0;
}
#contact button {
  background-color: #e84c3d;
  color: white;
}
#contact button a {
  color: white;
}
#contact button:focus,
#contact button:hover {
  color: #e84c3d;
  background: white;
  border-color: #e84c3d;
}
#contact button:focus a,
#contact button:hover a {
  color: #e84c3d;
}
footer {
  background-color: #e84c3d;
  color: white;
  font-size: 15px;
}
footer p {
  padding: 15px;
}
